<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Colourfully</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav>
      <a href="/" class="navbar-title">
        Colourfully
      </a>
      <a href="/"><img src="/logo.png" alt="Colourfully Logo" class="logo"/></a>
      <a href="https://github.com/teejcoder" target="_blank">
        Github
      </a>
    </nav>
    <div class="body-wrapper">
      <div class="results-div">
        <h1 class="welcome-h1">Colourfully</h1>
        <span class="welcome-span">There is an ERROR, Please destroy your device!
            <br/>
            <p>or <a href="/">Click Here</a> to try again.</p>
        </span>

        <span>
            You must choose and upload an image prior to clicking "Submit".<br/>
            Accepted filetypes are .jpg, .jpeg, .JPG, .JPEG, .png, .svg
        </span>


        <span id="file-upload-filename"></span>
      </div>  
  </div>
  <footer>Thanks to Microsoft Azure for the Cognitive Services. | Check out my <a href="https://github.com/teejcoder">Github.</a></footer>
  <script>
    document.getElementById('file-upload').addEventListener('change', function() {
      const fileName = this.files[0] ? this.files[0].name : 'No file chosen';
      document.getElementById('file-upload-filename').textContent = fileName;
    });
  </script>
  </body>
</html>