<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Colourfully</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
     
    <div class="results-div">
      <h1>Colourfully</h1>
      <span>Upload an image and find the colour scheme</span>
      <p>Please upload an image below:</p>
      <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file-to-upload">
        <input type="submit" value="Upload">
      </form>
    </div>  
  </body>
</html>