body {
    color: #FFF8F0;
    background-color: #191923;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(15deg, pink, purple);
    letter-spacing: 2px;
    min-height: 100vh;
    font-family: "Wittgenstein", serif;
}
nav{
    padding: 1rem;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    border-bottom: 1px solid #FFF8F0;
}
footer{
    flex: 1;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #FFF8F0;
    font-size: 15px;
}
a {
    color: #FFF8F0;
    text-decoration: none;
} a:hover{
    color: yellow;
    text-decoration: underline;
}
h1, h2{
    font-optical-sizing: auto;
}
input, label {
    font-family: "Lato", sans-serif;
}
form{
    max-width: 100%;
}
p, span {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    text-overflow: ellipsis;

}.welcome-span{
    margin-bottom: 4rem;
}
img{
    display: block;
    max-width: 100%;
    border: 1px solid #FFF8F0;
}
.logo{
    max-height: 50px;
    border: none;
}
.welcome-h1{
    margin-bottom: 3rem;
}
.body-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
}
.results-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 80%;
    padding: 2rem;
    border-radius: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
}

.form-container{
    max-width: 100%;
    display: flex;
    justify-content: between;
    margin-top: 1rem;
}

.custom-file-upload {
    display: none;
  }
  
  .custom-file-upload-label, .submit-button {
    display: inline-block;
    padding: 1rem 2rem;
    color: #fff;
    background-color: #1360bf;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  .submit-button {
    background-color: #40C9A2;
  }
  
  .custom-file-upload-label:hover, .submit-button:hover {
    background-color: #0056b3;
  }
  
  .submit-button:hover {
    background-color: #339b85;
  }
  
  #file-upload-filename {
    font-style: italic;
    margin-top: 1rem;
  }

  